{% extends "admin/base.html" %}

{% block content %}
<div class="container">
    <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
<div class="commonninja_component pid-eb953e52-eb1d-4611-9b33-333d857cda51"></div>
</div>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for table_name, table_count in tables_and_counts %}'{{table_name|capitalize}}',{% endfor %}],
            datasets: [{
                label: '# of Entries',
                data: [{% for table_name, table_count in tables_and_counts %}{{table_count}},{% endfor %}],
                backgroundColor: '#ac6718', // Change this to orange
            	borderColor: '#ac6718', // Change this to orange
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}