
<!-- Sidebar Holder -->
<nav id="sidebar" class="bg-primary" style="background-color: #ac6718!important;">
	<div class="sidebar-header">
		<h3>
			PandAid Admin<br>
			<i id="sidebarCollapse" class="glyphicon glyphicon-circle-arrow-left"></i>
		</h3>
		<strong>
			PandAid<br>
			<i id="sidebarExtend" class="glyphicon glyphicon-circle-arrow-right"></i>
		</strong>
		
	</div><!-- /sidebar-header -->
	<!-- start sidebar -->
	<ul class="list-unstyled components">
		<li>
			<a href="./" aria-expanded="false">
				<i class="glyphicon glyphicon-home"></i>
				Home
			</a>
		</li>

<li>
	<a href="/users">
		<i class="glyphicon glyphicon-user"></i>
		Users
		<span class="pull-right">{{tables_and_counts.2.1}}</span>
	</a>
</li>

<li>
	<a href="/admintable">
		<i class="glyphicon glyphicon-user"></i>
		Admin
		<span class="pull-right">{{tables_and_counts.0.1}}</span>
	</a>
</li>

<li>
	<a href="/userimage">
		<i class="glyphicon glyphicon-user"></i>
		User Images
		<span class="pull-right">{{tables_and_counts.1.1}}</span>
	</a>
</li>
		<li style="color: green;"><a href="/report"><i class="glyphicon glyphicon-download-alt"></i> Download Report</a></li>

		<li style="color: red;"><a href="/adminlogout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
	</ul>
	<div class ="visit">
	<a href="./"><img src="{{ url_for('static', filename='images/logo-no-background.png') }}" class="image" alt="" style="height: 50px;" /></a>
	</div>
</nav><!-- / end sidebar -->