
{% extends "admin/base.html" %}

{% block content %}
	<h1>Users' Articles</h1>
<p>This table includes {{table_count}} predictions</p>
<table id="sorted" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Article</th>
            <th>Prediction</th>
        </tr>
    </thead>
    <tbody>
        {% for row_data in data %}
        <tr>
            <td>{{ row_data['id'] }}</td>
            <td class="text-capitalize">{{ row_data['username'] }}</td>
            <td>{{ row_data['article'] }}</td>
            <td>{{ row_data['result'] }}</td>
            <td>
                <a 
                    href="./save?cat=userarticle&act=delete&modifier=id&id={{ row_data['id'] }}"
                    onclick="return navConfirm(this.href);">
                <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}