<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleauth.css') }}">
    <!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/logo-small.png') }}">
	<!-- google font -->
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<!-- main style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- responsive -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   </head>
<body>
  {% include "includes/alert.html" %}
  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
  <div class="container">
    <a href="{{ url_for('home') }}">
      <img style="width: 60px;" src="{{ url_for('static', filename='images/logo-small.png') }}" alt="">
    </a>
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{{ url_for('static', filename='images/frontImg.jpg') }}" alt="">
        
        <div class="text">
          
          <span class="text-1">Welcome to <br> PandAid</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="{{ url_for('static', filename='images/backImg.jpg') }}" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="/logini" method="post"  name="login">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" required>
              </div>
              <div class="text"><a href="/forgot_password">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="/register" method="POST" name="register" >
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your Username" name="uname" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
<!-- jquery -->
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<!-- count down -->
<script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
<!-- isotope -->
<script src="{{ url_for('static', filename='js/jquery.isotope-3.0.6.min.js') }}"></script>
<!-- waypoints -->
<script src="{{ url_for('static', filename='js/waypoints.js') }}"></script>
<!-- owl carousel -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<!-- magnific popup -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- mean menu -->
<script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
<!-- sticker js -->
<script src="{{ url_for('static', filename='js/sticker.js') }}"></script>
<!-- main js -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
