<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleauth.css') }}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- main style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- responsive -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   </head>
<body>
  {% include "includes/alert.html" %}
  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
  <div class="container">
    <a href="{{ url_for('home') }}">
      <img style="width: 60px;" src="{{ url_for('static', filename='images/logo-small.png') }}" alt="">
    </a>
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{{ url_for('static', filename='images/frontImg.jpg') }}" alt="">
        
        <div class="text">
          
          <span class="text-1">Forgot you Password?</span>
          <span class="text-2">Kindly enter your email address<br>
            We will help you recover your password ASAP.</span>
        </div>
      </div>
      
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Recover </div>
          <form action="/recover" method="post"  name="login">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="email" required>
              </div>
              
              <div class="button input-box">
                <input type="submit" value="Recover">
              </div>
             
            </div>
        </form>
      </div>
        
    </div>
    </div>
  </div>
<!-- jquery -->
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<!-- count down -->
<script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
<!-- isotope -->
<script src="{{ url_for('static', filename='js/jquery.isotope-3.0.6.min.js') }}"></script>
<!-- waypoints -->
<script src="{{ url_for('static', filename='js/waypoints.js') }}"></script>
<!-- owl carousel -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<!-- magnific popup -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- mean menu -->
<script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
<!-- sticker js -->
<script src="{{ url_for('static', filename='js/sticker.js') }}"></script>
<!-- main js -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
